#atomBtn {
    position: relative;
    top: 30px;
    left: 30px;
}

#title {
    position: relative;
    top: 10px;
    left: 30px;
}

#atomBtn:hover {
    background-color: #000;
    color: #fff;
}

#atoms {
    position: relative;
    top: 30px;
    left: 30px;
}

#upgrades {
    position: relative;
    top: -50px;
    left: 400px;
    display: inline-block;
    padding: 10px;
}

#upgrades p {
    border: 1px solid black;
    padding: 10px;
    margin: 0;
}

#upgrades p:not(:last-child) {
    margin-bottom: 0px;
}

#permUpgrades {
    position: absolute;
    top: 160px;
    left: 28px;
    display: inline-block;
    padding: 10px;
}

#permUpgrades p {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 0;
}

#permUpgrades p:not(:last-child) {
    margin-bottom: 0px;
}

 